@import 'tailwindcss';

@theme {
  --color-dark: #261e35;
  --color-dark-hover: #372c44;
  --color-light: #fff;
  --color-accent: #ec5eb7;
  --color-accent-hover: #535efc;
  --color-main: #373737;
  --color-alt: #b37cff7e;
  --color-text-alt: #a8a29e;
  --font-playfair: 'Playfair_Display', serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--color-dark) 0%, var(--color-dark) 100%);
  font-family: var(--font-inter);
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.test {
  color: #b37cff7e;
}

[data-nextjs-dev-overlay] {
  display: none !important;
  pointer-events: none !important;
}
